body {
    background-color:black;
}
.main-box {
    background-color: white;
    width: fit-content;
    margin: 50px auto;
    padding: 15px 30px;
    border-radius: 15px;
}
h1 {
    color: grey;
    text-align: center;
}
.item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.margin-box{
    margin: 0 30px;
}
.result-value {
    background-color: yellow;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: blue;
}


